html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f9fc;
    margin: 0;
    padding: 0;
}

.navbar {
    margin-bottom: 50px;
}

.hero {
    background-image: url('tu-imagen-de-fondo.jpg');
    /* Cambia por la URL de tu imagen */
    background-size: cover;
    background-position: center;
    height: 600px;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 50px 0;
    /* Espacio superior e inferior para el encabezado */
}

.rounded-img {
    border-radius: 15px;
    /* Redondea los bordes de la imagen */
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.products {
    margin: 50px 0;
}

.img-fluid {
    max-width: 90%;
    /* Ajusta como desees */
    margin: 0 auto;
    /* Centrar la imagen horizontalmente */
}