/* Base Styles */
html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}

/* Media Queries */
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  .navbar-brand img {
    height: 120px;
    /* Tamaño para pantallas medianas en adelante */
  }
}

/* Components & Utilities */
.input-color {
  padding: inherit;
  height: 150px;
  width: 150px;
}

.table-scroll {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
    /* Chrome */
  }
}

/* Page Specific Styles */
header {
  background-color: #333;
}

.navbar {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 1.5rem;
  color: #007BFF !important;
}

.navbar-brand img {
  height: 60px;
  /* Tamaño por defecto para móviles */
  margin-right: 10px;
}

.navbar-toggler {
  background-color: #C0C0C0;
  /* Color de fondo del botón */
  border-color: #fff;
  /* Cambiamos el color del borde del botón a blanco */
}

.navbar-nav .nav-link {
  padding: 0.5rem 1rem;
  transition: color 0.3s ease, text-decoration 0.3s ease;
  text-decoration: none;
  /* Por defecto, no estará subrayado */
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #007BFF !important;
  /* Cambio de color al pasar el cursor */
  text-decoration: underline;
  /* Subrayado al pasar el cursor */
  background-color: transparent !important;
  /* Aseguramos que el fondo no cambie */
}

/* Centrar el contenido del menú móvil */
.navbar-collapse {
  text-align: center;
}

.navbar-nav {
  justify-content: center;
  width: 100%;
}

.navbar-nav .nav-item {
  display: block;
  width: 100%;
}

.navbar-nav .nav-link {
  width: 100%;
  text-align: center;
}

.container:hover {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 5px;
  transition: 0.25s;
}

main {
  margin-top: 2rem;
}